@import 'tailwindcss';
:root {
  --color-primary: #0067e6;
}

html,
body {
  scroll-behavior: smooth;
  color: #2e3742;
}

.text-h1 {
  @apply text-[36px] leading-[52px] font-bold;

  @variant xl {
    @apply text-[48px] leading-[62px];
  }
}
.text-h2 {
  @apply text-[36px] leading-[52px] font-semibold;
}
.text-h2-2 {
  @apply text-[32px] leading-[46px] font-semibold;
}
.text-h4 {
  @apply text-[22px] leading-[32px] font-semibold;
}
.text-h4-2 {
  @apply text-[20px] leading-[30px] font-semibold;
}
.text-p1 {
  @apply text-[18px] leading-[28px] font-normal;

  @variant xl {
    @apply text-[22px] leading-[32px];
  }
}
.text-p2 {
  @apply text-[16px] leading-[28px] font-normal;

  @variant sm {
    @apply text-[18px];
  }
}
.text-p3 {
  @apply text-[14px] leading-[22px] font-normal;
}
.text-body2 {
  @apply text-[16px] leading-[24px] font-normal;
}
.text-header4 {
  @apply text-[20px] leading-[30px] font-semibold;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
